<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Daily Algo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <div class="text-containers">
                <h1>{{question.number}}. {{question.title}}</h1>
                <hr>
                <p>{{question.description}}</p>
            </div>
            <div class="text-containers">
                <h2>Example</h2>
                <hr>
                {% for e in examples %}
                {{e.input | safe}}
                {{e.output| safe}}
                {{e.explanation| safe}}
                {% endfor %}
            </div>
            <div class="text-containers">
                <h2>Constraints</h2>
                <hr>
                <ul>
                {% for c in constraints %}
                <li>{{c.text| safe}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="text-containers">
                <h2>Testcases</h2>
                <hr>
                {% for t in testcases %}
                {{t.test | safe}}
                {% endfor %}
            </div>
        </div>
        <div class="flex-item-right">
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="my-python-editor" data-editor="python" rows="15">{{ user_code }}</textarea>
                <div class="output">
                    <div class="output-left">
                        <h4>RESULTS</h4>
                        <hr>
                        <div class="output-content">
                            {% for t in test_output %}
                            {% for word in t %}
                            <pre>{{word}}</pre>
                            {% endfor %}
                        - - - - - - - - - - - - - - - - - -
                        {% endfor %}
                        </div>
                    </div>
                    <div class="output-right">
                        <h4>STDOUT</h4>
                        <hr>
                        <div class="output-content">
                            {% for s in std_output %}
                            <pre>{{ s }}</pre>
                            - - - - - - - - - - - - - - - - - -
                            {% endfor %}
                            <pre>{{errors}}</pre>
                        </div>
                    </div>
                </div>
                <div class="btn btn-hover">
                    <input type="submit" id="submit-btn" class="btn-detail " value="Run Code">
                </div>

            </form> 
        </div>
    </div>
    <script src="{% static 'src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'main.js'%}"></script>
</body>

</html>
