textarea {
    height: 65vh;
}

.ace_editor.ace-dreamweaver {
    border: 1px solid lightgray;
}

.flex-container {
  display: flex;
  height: 100%;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 20%;
  overflow: auto;
}

.flex-item-right {
  flex: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

.ace-editor {
 border: 1px solid #f1f1f1;
}

.output {
  display: flex;
  height: 30vh;
}
.output-left {
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  flex: 50%;
  overflow: auto;

}
.output-right {
  border: 1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  flex: 50%;
  overflow: auto;
}

body{
  height: 100vh;
}